<div class="container">
    <row>
        <h4>HashTag statistics</h4>

        <div class="achievements-wrapper">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>HashTag</th>
                    <th>Occurrence</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="(key, value) in hashTagStats.summarizedHashTags">
                    <td>{{key}}</td>
                    <td>{{value}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </row>
    <row>
        <h4>Tweet statistics</h4>
        <div class="achievements-wrapper">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Keyword</th>
                    <th>Occurrence</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="(key, value) in tweetStats">
                    <td>{{key}}</td>
                    <td>{{value}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </row>
</div>